*.exe
/src/*.o
.test.c.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/solve_heatcond
stamp-h1
.assemble.h.swp
src/assemble_RHS.cpp.swo
src/assemble_RHS.cpp.swp
*.swo
*.swp
*.out
src/temp.log
/proj1/src/temp.log
*swp
*swo
*.gcno
*.gcda
